@* @model AnswerQuestionDto *@

<h2>@Model.QuestionText</h2>
<form method="post" action="/api/test/answer">
    @* @foreach(var option in Model.Options)
    {
        <div>
            <input type="radio" name="answer" value="@option.AnswerId" required>@option.AnswerText</input>
        </div>
    } *@
    <button type="submit">Submit Answer</button>
</form>

